<!DOCTYPE html>
<html>

<head th:replace="/blocks/header.html :: header('Account')"></head>
<body class="scroll">

<div class="wrapper">
    <div class="tab">
        <div class="tab-aligner">
            <button class="tablinks" onclick="openTab(event, 'Settings')" id="defaultOpen">
                <img alt="settings" src="/images/user/settings.svg">&nbsp;Настройки
            </button>
            <button class="tablinks" onclick="openTab(event, 'HostedOffers')">
                <img alt="hosted" src="/images/user/crown.svg">&nbsp;Ваши&nbsp;объявления
            </button>
            <button class="tablinks" onclick="openTab(event, 'FavouriteOffers')">
                <img alt="starred" src="/images/user/star.svg">&nbsp;Избранное
            </button>
            <button class="tablinks" onclick="openTab(event, 'AddOffer')">
                <img alt="create" src="/images/user/plus.svg">&nbsp;Создать
            </button>
            <button class="tablinks" onclick="openTab(event, 'Messages')">
                <img alt="chat" src="/images/user/chat.svg">&nbsp;Сообщения
            </button>
            <button class="tablinks" onclick="openTab(event, 'Logout')">
                <img alt="logout" src="/images/user/logout.svg">&nbsp;Выйти
            </button>
        </div>
    </div>

    <div id="Settings" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright">&times;</span>
        <h3>Настройки</h3>
        <div class="settings">
            <p>Настройки будут тут.</p>
        </div>
    </div>

    <div id="HostedOffers" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright">&times;</span>
        <h3>Ваши объявления</h3>
        <ul th:each="h : ${hostedOffers}">
            <li class="offer-list">
                <a class="offer list-norm-font" th:id="${h.id}"
                   th:href="'/messages/' + ${h.id}" th:text="${h.address}">
                </a>
                <form class="offer-delete" th:action="@{'/delete/' + ${h.id}}" method="get">
                    <button type="submit">
                        <div class="btn f-group-btn">
                            <img class="invert" alt="delete" src="/images/delete.svg">
                        </div>
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div id="FavouriteOffers" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright">&times;</span>
        <h3>Избранные объявления</h3>
        <ul th:each="f : ${favouriteOffers}">
            <li class="offer-list">
                <a th:href="@{'/offer?id=' + ${f.offerId}}"
                   class="offer list-norm-font" th:id="${f.offerId}" th:text="${f.address}">
                </a>
                <form class="offer-delete" th:action="@{'/deleteSaved/' + ${f.offerId}}" method="get">
                    <button type="submit">
                        <div class="btn f-group-btn">
                            <img class="invert" alt="delete" src="/images/delete.svg">
                        </div>
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div id="AddOffer" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright">&times;</span>
        <h3>Перейти на страницу создания объявления?</h3>
        <div class="container-login-form-btn m-t-17 logout-wrapper">
            <a th:href="@{/create}" class="login-form-btn logout" type="submit">Перейти</a>
        </div>
    </div>

    <div id="Messages" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright">&times;</span>
        <h3>Сообщения</h3>
        <p>Сообщения будут тут.</p>
    </div>

    <div id="Logout" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright">&times;</span>
        <h3>Вы действительно хотите выйти из аккаунта?</h3>
        <form class="logout-wrapper" th:action="@{/logout}" method="get">
            <div class="container-login-form-btn m-t-17">
                <button class="login-form-btn logout" name="registration" type="submit">Выйти</button>
            </div>
        </form>
    </div>
</div>

<div th:insert="blocks/hat :: hat"></div>
<div th:insert="blocks/menu :: menu"></div>
</body>
</html>