/* Style the tab */
.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    /*background-color: #f1f1f1;*/
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    text-decoration: underline;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    /*rgba(65, 105, 225, 0.8)*/
}

/* Create an active/current tablink class */
.tab button.active {
    text-decoration: underline;
    background-color: #eee;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {
    color: red;
}

.logout-wrapper {
    text-align: center;
}

.logout {
    border: none;
    background: white;
    margin: 10px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

.logout:hover {
    background: rgba(50, 50, 50, 0.23);
}