img {
    height: 30px;
    width: 30px;
}

.tab {
    overflow: hidden;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 60px auto auto;
    width: 100%;
}

.tab-aligner {
    width: 95%;
    margin: auto;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 10px;
}

.tab button:hover {
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5) inset;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.tab button.active {
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5) inset;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {
    color: red;
}

.logout-wrapper {
    text-align: center;
}

.logout {
    height: 50px;
    width: 130px;
    margin: 10px auto auto;
    text-decoration: none;
}

.logout:hover {
    color: white;
}

.offer-delete {
    position: relative;
    top: -15px;
    margin-right: 10%;
    float: right;
}

.tablinks{
    width: 200px;
    margin: auto;
}