body {
    /*background-image: url(/images/pattern.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    word-break: break-all;
    /*filter: alpha(Opacity=50);*/
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    /* Comic Sans MS */
}

a {
    cursor: pointer;
}

.popover {
    padding: 10px;
    margin: auto;
    display: block;
}

.popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
}

.btn {
    margin-top: 10px;
}

.map {
    margin: auto;
    padding: 0;
    width: 680px;
    height: 410px;
}

.gradient {
    color: #ffc0cb;
}

#map {
    margin: auto;
    width: 100%;
    height: 100%;
}

.popover {
    padding: 10px;
    margin: auto;
    display: block;
}

.popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
}

.btn {
    margin-top: 10px;
}


.content {
    top: 0;
    width: 680px;
    height: 440px;
    margin: 40px auto auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#story {
    padding: 25px 15px 15px 20px;
    color: white;
    font-size: 1.2em;
}

.wrapper {
    top: 15px;
    width: 680px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin: auto;
}

.form-btn {
    background: rgba(42, 50, 60, 0.8);
    outline: none;
    border-bottom-width: 0;
    border-radius: 10px;
}

.link-list {
    width: 680px;
    margin: 40px auto auto;
    border-radius: 10px;
    padding: 15px 15px 15px 25px;
}

.link-list ul li {
    text-align: left;
    margin: auto auto 30px;
    font-size: 1.2em;
    list-style: none;
    padding: 15px 10px 15px 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.link-list ul li a {
    text-decoration: none;
}

/*.link-list ul li a:hover {*/
/*    color: #ffc0cb;*/
/*}*/

.offer {
    font-size: 1.3em;
    margin-left: 10px;
}

.offer-pic {
    width: 40%;
    /*height: 100%;*/
    padding: 0 10px 0 0;
}

.offer-pic div {
    width: 100%;
    height: 400px;
    max-height: 450px;
    min-width: fit-content;
    padding: 0;
    margin: 5% 0;
}

.offer-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
table {
    width: 100%;
    cellspacing: 0;
    cellpadding: 5px;
    margin: auto;
}

.hat {
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.95em;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;
    position: fixed;
    z-index: 2;
    margin-bottom: 40px;
}

.offer-wrapper {
    margin: 90px auto auto;
    font-size: 1.3em;
    padding-top: 60px;
    padding-bottom: 60px;
}

.text-container {
    width: 80%;
    margin: auto;
}

.inner-div {
    width: 100%;
    margin: auto;
}

.center-div {
    width: 100%;
    margin: auto;
    height: 75%;
}

.offer-wrapper h2 {
    width: 60%;
    text-align: center;
    margin: auto auto 20px;
}

.little-form {
    width: 100%;
    padding-top: 15px;
    margin: auto auto 0;
}

td {
    padding: 15px;
    word-break: normal;
}

.chat {
    text-decoration: none;
}

.chat:hover {
    color: #fff;
}

.back-btn {
    text-decoration: none;
    top: 10px;
    right: 10px;
    width: 220px;
    margin: auto;
}

.back-btn:hover {
    color: #fff;
}

.scroll {
    /*overflow-y: scroll;*/
    overflow: auto;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0px 0 0px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
    /*     background-color: #F5F5F5; */
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0 0px 1px rgba(0, 0, 0, 0.1);
    background-color: #333;
}
