* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    /* Comic Sans MS */
}

a {
    cursor: pointer;
}

.popover {
    padding: 10px;
    margin: auto;
    display: block;
}

.popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
}

.btn {
    margin-top: 10px;
}

.map {
    margin: auto;
    padding: 0;
    width: 680px;
    height: 410px;
}

.gradient {
    color: #ffc0cb;
}

#map {
    margin: auto;
    width: 100%;
    height: 100%;
}

.popover {
    padding: 10px;
    margin: auto;
    display: block;
}

.popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
}

.btn {
    margin-top: 10px;
}


.content {
    top: 0;
    width: 680px;
    height: 440px;
    margin: 40px auto auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#story {
    padding: 25px 15px 15px 20px;
    color: white;
    font-size: 1.2em;
}

.wrapper {
    top: 15px;
    width: 680px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin: auto;
}

.form-btn {
    background: rgba(42, 50, 60, 0.8);
    outline: none;
    border-bottom-width: 0;
    border-radius: 10px;
}

.link-list {
    width: 680px;
    margin: 40px auto auto;
    border-radius: 10px;
    padding: 15px 15px 15px 25px;
}

.link-list ul li {
    text-align: left;
    margin: auto auto 30px;
    font-size: 1.2em;
    list-style: none;
    padding: 15px 10px 15px 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.link-list ul li a {
    text-decoration: none;
}

/*.link-list ul li a:hover {*/
/*    color: #ffc0cb;*/
/*}*/

.offer {
    font-size: 1.3em;
    margin-left: 10px;
}

.offer-pic {
    width: 220px;
    height: 220px;
}

table {
    width: 100%;
    cellspacing: 0;
    cellpadding: 5px;
}

.hat {
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.95em;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;
    position: fixed;
    z-index: 2;
    margin-bottom: 40px;
}

.offer-wrapper {
    margin: 90px auto auto;
    height: auto;
    padding-left: 100px;
    font-size: 1.3em;
}

.offer-wrapper h2{
    padding-left: 100px;
}

.little-form {
    width: 100%;
    padding-top: 15px;
    margin: auto auto 0;
}

td {
    padding: 15px;
}




.chat:hover {
    color: #fff;
}