body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;;
    word-break: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

a {
    cursor: pointer;
}

.popover {
    padding: 10px;
    margin: auto;
    display: block;
}

.popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
}

.btn {
    margin-top: 10px;
}

.map {
    margin: auto;
    padding: 0;
    width: 70%;
    height: 410px;
}

.gradient {
    color: #ffc0cb;
}

#map {
    margin: auto;
    width: 100%;
    height: 100%;
}

.popover {
    padding: 10px;
    margin: auto;
    display: block;
}

.popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
}

.btn {
    margin-top: 10px;
}

.content {
    width: 70%;
    height: 440px;
    margin: 40px auto auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#story {
    padding: 25px 15px 15px 20px;
    color: white;
    font-size: 1.2em;
}

.wrapper {
    top: 15px;
    width: 70%;
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin: auto;
}

.form-btn {
    background: rgba(42, 50, 60, 0.8);
    outline: none;
    border-bottom-width: 0;
    border-radius: 10px;
}

.link-list {
    width: 70%;
    margin: 40px auto auto;
    border-radius: 10px;
    padding-bottom: 25px;
}

.link-list ul li {
    text-align: left;
    margin: auto auto 30px;
    font-size: 1.2em;
    list-style: none;
    padding: 15px 10px 15px 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.link-list ul li a {
    text-decoration: none;
}

.offer {
    font-size: 1.3em;
    margin-left: 10px;
}

.offer-pic {
    width: auto;
    padding: 0 10px 0 0;
}

.offer-pic div {
    width: 100%;
    height: 400px;
    max-height: 450px;
    min-width: fit-content;
    padding: 0;
    margin: 5% 0;
}

.offer-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

table {
    width: 100%;
    cellspacing: 0;
    cellpadding: 5px;
    margin: auto;
}

.hat {
    width: 100%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.95em;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;
    position: fixed;
    z-index: 2;
    margin-bottom: 40px;
}

.offer-wrapper {
    margin: 90px auto auto;
    font-size: 1.3em;
    padding-top: 60px;
    padding-bottom: 60px;
}

.text-container {
    width: 80%;
    margin: auto;
}

.inner-div {
    width: 100%;
    margin: auto;
}

.center-div {
    width: 100%;
    max-height: 300px;
    margin: auto;
    word-break: break-all;
    height: 70%;
}

.offer-wrapper h2 {
    width: 80%;
    text-align: center;
    margin: auto auto 20px;
}

.little-form {
    width: 100%;
    padding-top: 15px;
    margin: auto auto 0;
}

td {
    padding: 15px;
    width: 350px;
}

.chat {
    text-decoration: none;
}

.chat:hover {
    color: #fff;
}

.back-btn {
    text-decoration: none;
    top: 10px;
    right: 10px;
    width: 220px;
    margin: auto;
}

.back-btn:hover {
    color: #fff;
}

.scroll {
    overflow: auto;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: #333;
}

.offer-search-wrap {
    width: 70%;
    margin: 25px auto auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.offer-search {
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.search-form {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search-form td {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.search-btn {
    margin: auto;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
}

.search-form-col {
    width: 42%;
}

.cost-borders input {
    width: 45%;
    margin: auto;
    padding: 0;
}

.flex-h {
    height: 95%;
    padding-top: 20px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.flex-h-chat {
    padding-top: 20px;
    height: 60%;
    min-height: 500px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-bottom: 0;
}

.flex-h-chat h2 {
    max-height: 100px;
}

hr {
    width: 100%;
}