* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    /* Comic Sans MS */
}

#sidebar ul li:not(:first-child) {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    /*color: white;*/
    list-style: none;
    border-radius: 10px;
}

#sidebar ul li a {
    color: #000;
    /*padding-left: 10px;*/
    text-decoration: none;
}

#sidebar ul li:not(:first-child):hover {
    /*background: rgba(65, 105, 225, 0.8);*/
    /*background-color: #ddd;*/

    box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.5) inset;

    /*background: #4169e1;*/
    /*background: -webkit-linear-gradient(45deg, #4169e1, #ffc0cb);*/
    /*background: -o-linear-gradient(45deg, #4169e1, #ffc0cb);*/
    /*background: -moz-linear-gradient(45deg, #4169e1, #ffc0cb);*/
    /*background: linear-gradient(45deg, #4169e1, #ffc0cb);*/

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#sidebar.active {
    right: 10px;
}

#sidebar ul li:first-child {
    text-align: center;
    /*color: white;*/
    font-size: 1.95em;
    list-style: none;
    padding: 15px 10px 10px 10px;
}

#sidebar {
    z-index: 1;
    top: 0;
    margin: 60px 0;
    position: fixed;
    width: 180px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    /*border-right: 4px rgba(224, 229, 234, 0.6);*/
    border-radius: 10px;
    right: -191px;

    -moz-animation: all 330ms; /*mozila*/
    -webkit-transition: all 330ms; /*safari*/
    transition: all 330ms;
}

#sidebar .toggle-btn {
    position: absolute;
    right: 195px;
    top: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#sidebar .toggle-btn:hover {
    /*background: rgba(50, 50, 50, 0.8);*/

    /*     background: #4169e1;
        background: -webkit-linear-gradient(45deg, #4169e1, #ffc0cb);
        background: -o-linear-gradient(45deg, #4169e1, #ffc0cb);
        background: -moz-linear-gradient(45deg, #4169e1, #ffc0cb);
        background: linear-gradient(45deg, #4169e1, #ffc0cb); */

    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5) inset;
    /*     , 0 0 0 5px rgba(0,0,0,0) inset; */

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/*#sidebar .toggle-btn:hover span {*/
/*    background-color: rgb(255, 255, 255);*/
/*}*/

#sidebar .toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background: rgb(50, 50, 50);
    margin: 4px 0;
}

.menu-icons {
    height: 90px;
    width: 90px;
    margin: 5px 5px -5px;
}

.offer-icons {
    height: 35px;
    width: 35px;
}