.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.f-group-btn-wrap {
    width: 60px;
}

.f-group-btn {
    margin-top: -10px;
    margin-bottom: 10px;
    margin-right: 0;
    height: 40px;
    background: #333333;
    box-shadow: none;
}

.f-group-btn:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.5) inset;
}

.f-group-btn:hover img {
    -webkit-filter: invert(0);
    filter: invert(0);
}

.f-group-btn img {
    width: 30px;
    height: 30px;
}

.force-scroll {
    height: 45%;
}

.msg-box-chat {
    height: 40%;
    min-height: 300px;
    margin: 0;
}

hr {
    height: 1px;
    margin: 0;
    background: #555555;
}

.content-flex {
    width: 80%;
    height: 80%;
    min-height: 500px;
    margin: 70px auto 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-flex form {
    height: 20%;
}

.msg-display-wrapper {
    background: rgba(0, 0, 0, 0);
    word-break: break-all;
}

.msg-display-header {
    padding-left: 5px;
    background: rgba(0, 0, 0, 0);
}

.msg-display-body {
    border-radius: 10px;
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.msg-head {
    width: 150px;
}

.msg-input {
    background: #f7f7f7;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    font-family: monospace;
    margin: auto;
    box-shadow: none;
    font-size: 14px;
    height: 30%;
}

a.offer {
    font-size: 24px;
}

.validation {
    margin-top: 15px;
    margin-right: 10%;
}

.time {
    font-size: 12px;
    color: #666;
}

.msg-right {
    background: red;
    float: right;
    margin-right: 0;
}

.msg-hat {
    height: 70px;
    width: 90%;
    padding: 10px;
    margin: auto;
}

.msg-hat td {
    height: 50px;
    margin: auto;
    width: 20%;
    padding-left: 50px;
    padding-right: 50px;
}

.msg-hat button {
    width: 50%;
    float: right;
}

.up {
    margin: 0;
}

#save {
    float: right;
    margin-top: 0;
}

#edit {
    float: right;
    margin-top: 0;
}

.msg-validate {
    margin: auto;
    width: 80%;
}

.list-norm-font {
    font-size: 14px;
    width: 80%;
}

.conv-wrap {
    height: 50%;
}

.chat-btn {
    margin: auto auto 0;
    height: 70px;
    width: 20%;
}

.inner-chat-btn {
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}

.save-btn {
    width: 100px;
    margin-right: 5%;
}

.container {
    width: 80%;
    margin: 10% auto auto;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container h2 {
    text-align: center;
    padding-bottom: 10px;
}

.panel-default {
    width: 80%;
    margin: auto;
}

.row-maker {
    width: 100%;
}

.left {
    width: 45%;
    margin: auto auto auto 10px;
}

.right {
    width: 45%;
    margin: auto 10px auto auto;
}

.no-chats-wrapper {
    width: 70%;
    margin: auto;
}

.add-user-form {
    float: right;
    margin: auto 10px auto auto;
}

.add-user-form input {
    height: 40px;
    margin: auto;
    box-shadow: none;
    border-radius: 10px;
}

.del-user-form {
    float: left;
    margin: auto auto auto 10px;
}

.del-user-form input {
    height: 40px;
    margin: auto;
    box-shadow: none;
    border-radius: 10px;
}