<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <title>Registration Form</title>-->
<!--    <link rel="shortcut icon" href="/images/home.svg" type="image/svg">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--</head>-->
<head th:replace="/blocks/header.html :: header('Ошибка')"></head>

<body class="scroll">
<form th:action="@{/}" method="get">
    <div class="container-login-form-btn m-t-17 btn-warning">
        <!--    <button class="btn-warning" type="Submit">К объявлениям</button>-->
        <button name="submit" type="submit" class="login-form-btn">
            К объявлениям
        </button>
    </div>
</form>

<div>
    <h1>Ошибка</h1>
    <p>
        Произошла ошибка. Пожалуйста, свяжитесь с администратором
    </p>
</div>

<div th:insert="blocks/hat :: hat"></div>
</body>
</html>