<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blocks/header.html :: header('Ошибка')"></head>

<body class="scroll">

<div class="error-txt">
    <h1>Ошибка</h1>
    <p>
        Произошла ошибка. Пожалуйста, свяжитесь с администратором
    </p>
</div>

<form th:action="@{/}" method="get">
    <div class="container-login-form-btn m-t-17 btn-warning">
        <button name="submit" type="submit" class="login-form-btn">
            К объявлениям
        </button>
    </div>
</form>

<div th:insert="blocks/hat :: hat"></div>
</body>
</html>