<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HUTTER - Home page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=f3166bfd-6c7c-40bb-a767-55a8e4259c52&lang=ru_RU&size=450,150"
            type="text/javascript"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/map.js"></script>
</head>
<body>
<div th:insert="blocks/menu :: menu"></div>
<div class="content">
    <div id="map" class="map"></div>
</div>

<div class="link-list">
    <ul th:utext="${offerDescriptions}" id="panel-group">
        <li><a>aaa</a></li>
        <li><a>aaa</a></li>
    </ul>
</div>
</body>
</html>