<!DOCTYPE html>
<html lang="ru">
<head th:replace="/blocks/header.html :: header('Домашняя страница')"></head>

<body class="scroll">
<div class="content">
    <div id="map"></div>
</div>
<div class="offer-search-wrap">
    <div th:insert="/blocks/forms :: search"></div>
</div>

<div class="link-list">
    <ul id="panel-group" th:each="o : ${offersTab}">
        <li>
            <div class="link-list-item">
                <table>
                    <tr>
                        <td class="offer-pic">
                            <div>
                                <img th:src="'/images/offer/' + ${o.id % 12} + '.jpg'"
                                     alt="Фото объявления"/>
                            </div>
                        </td>
                        <td>
                            <a class="offer " th:id="${o.id}" th:href="@{'/offer?id=' + ${o.id}}"
                               th:text="${o.address}"></a><br/>
                            <img class="offer-icons" src="/images/ruble.svg" alt="ruble">
                            <span th:text="'&nbsp;цена: ' + ${o.cost} + ' ₽'"></span>
                            <br/><br/>
                            <img class="offer-icons" src="/images/plans.svg" alt="plans">
                            <span th:id="${o.totalArea} + ' м²'" class="space"
                                  th:text="'&nbsp;общая площадь: ' + ${o.totalArea} + ' м²'"></span>
                            <br/><br/>
                            <img class="offer-icons" src="/images/floor.svg" alt="floor">
                            <span th:text="'&nbsp;этаж: ' + ${o.floor} + ' из ' + ${o.floorMax}"></span>
                            <br/><br/>
                            <img class="offer-icons" src="/images/living-room.svg" alt="living-room">
                            <span th:text="'&nbsp;кол-во комнат: ' + ${o.quantityRoom}"></span>
                            <br/><br/>
                            <img class="offer-icons" src="/images/bathroom.svg" alt="bathroom">
                            <span th:text="'&nbsp;кол-во санузлов: ' + ${o.quantityToilet}"></span>
                            <br/><br/>
                            <a th:href="@{'/offer?id=' + ${o.id}}" class="login-form-btn chat">Подробнее</a>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>

<div class="landing-tabs">
    <table>
        <tr>
            <td th:each="tab : ${tabsLen}">
                <a th:text="${tab + 1}" th:href="@{'/?page=' + ${tab}}"></a>
            </td>
        </tr>
    </table>
</div>
<br/>
<div th:insert="blocks/hat :: hat"></div>
<div th:insert="blocks/menu :: menu"></div>
</body>
</html>