<!DOCTYPE html>
<html>
<head th:replace="/blocks/header.html :: header('Домашняя страница')"></head>

<body class="scroll">
<div class="content">
    <div id="map"></div>
</div>
<div class="offer-search-wrap">
    <div class="offer-search">
        <!--    TODO: изменить action формы на подходящий-->
        <form th:action="@{/search}" method="POST" class="search-form">
            <table>
                <tr>
                    <td class="search-form-col">
                        <div class="rooms-selector">
                            <span class="txt1">
                                Количество комнат:
                            </span>
                            <div class="rooms-num-panel">
                                <input type="checkbox" name="0">Студия
                                <input type="checkbox" name="1">1
                                <input type="checkbox" name="2">2
                                <input type="checkbox" name="3">3
                                <input type="checkbox" name="4">4+
                            </div>
                        </div>
                    </td>
                    <td class="search-form-col">
                        <div class="cost-selector">
                            <span class="txt1">
                                Стоимость:
                            </span>
                            <div class="cost-borders">
                                <input placeholder="от" autocomplete="off" class="input" type="text" name="low">
                                <input placeholder="до" autocomplete="off" class="input" type="text" name="high">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="container-login-form-btn m-t-17">
                            <button name="submit" type="submit" class="search-btn">
                                <div class="btn f-group-btn">
                                    <img class="invert" src="/images/search.svg" alt="search">
                                </div>
                            </button>
                            <div class="wide txt1 validation-message" th:if="${param.error}">
                                Введены неверные данные.
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<div class="link-list">
    <ul id="panel-group" th:each="o : ${offerDescriptions}">
        <li>
            <div class="link-list">
                <table>
                    <tr>
                        <td class="offer-pic">
                            <div>
                                <img th:src="'/images/offer/offer' + ${o.id} + '.jpg'"
                                     alt="Фото объявления"/>
                            </div>
                        </td>
                        <td>
                            <a class="offer " th:id="${o.id}" th:href="@{'/offer?id=' + ${o.id}}"
                               th:text="${o.address}"></a><br/>
                            <img class="offer-icons" src="/images/ruble.svg" alt="ruble">
                            <span th:text="'&nbsp;цена: ' + ${o.cost} + ' ₽'"></span>
                            <br/><br/>
                            <img class="offer-icons" src="/images/plans.svg" alt="plans">
                            <span th:text="'&nbsp;общая площадь: ' + ${o.totalArea} + ' м²'"></span>
                            <br/><br/>
                            <img class="offer-icons" src="/images/floor.svg" alt="floor">
                            <span th:text="'&nbsp;этаж: ' + ${o.floor} + ' из ' + ${o.floorMax}"></span>
                            <br/><br/>
                            <img class="offer-icons" src="/images/living-room.svg" alt="living-room">
                            <span th:text="'&nbsp;кол-во комнат: ' + ${o.quantityRoom}"></span>
                            <br/><br/>
                            <img class="offer-icons" src="/images/bathroom.svg" alt="bathroom">
                            <span th:text="'&nbsp;кол-во санузлов: ' + ${o.quantityToilet}"></span>
                            <br/><br/>
                            <a href="/messages" class="login-form-btn chat">Подробнее</a>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>


<div class="name gradient hat">HUTTER</div>
<div th:insert="blocks/menu :: menu"></div>
</body>
</html>