<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/blocks/header.html :: header('Войти')"></head>
<body class="scroll">

<div class="wrap-login p-l-110 p-r-110 p-t-62 p-b-33 m-b-30">
    <p class="name gradient">HUTTER</p>

    <form th:action="@{/login}" method="POST" class="login-form validate-form flex-sb flex-w">
        <div class="p-t-31 p-b-9">
		    <span class="txt1">
			    Имя пользователя
		    </span>
        </div>
        <input autocomplete="off" class="input" type="text" name="user_name">

        <div class="p-t-13 p-b-9">
		    <span class="txt1">
			    Пароль
		    </span>
            <a href="#" class="txt2 bo1 m-l-5">
                Забыли пароль?
            </a>
        </div>
        <input autocomplete="off" class="input" type="password" name="password">

        <div class="container-login-form-btn m-t-17">
            <button name="submit" type="submit" class="login-form-btn">
                Войти
            </button>
            <div class="wide txt1 validation-message" th:if="${param.error}">
                User Name or Password invalid, please verify
            </div>
        </div>

        <div class="w-full text-center p-t-55">
            <span class="txt2">
                Нет аккаунта?
            </span>
            <a href="./registration" class="txt2 bo1">
                Зарегистрируйтесь
            </a>
        </div>
    </form>
</div>

<br><br>
<div th:insert="blocks/menu :: menu"></div>
</body>
</html>