<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>HUTTER - Login page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <style>
        body {
            background-image: url(./static/images/ufo.jpg); /* Путь к фоновому изображению */
            bottom: 0px;
            -moz-background-size: 100%; /* Firefox 3.6+ */
            -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
            -o-background-size: 100%; /* Opera 9.6+ */
            background-size: 100%;
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>

    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>

<body>
<!--<form th:action="@{/registration}" method="get">-->
<!--    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>-->
<!--</form>-->


<div id="sidebar">
    <div class="toggle-btn" onclick="openMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li class="name gradient">HUTTER</li>
        <li><a href="./registration">Registration</a></li>
        <li><a href="./">Login</a></li>
    </ul>
</div>

<div id="fill">
    <form th:action="@{/login}" method="POST">
        <h2 class="name gradient">HUTTER</h2>
        <br/>

        <input type="text" id="user_name" name="user_name" placeholder="User Name"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="color: #FF1C19;">User Name or Password invalid, please verify</p>
        </div>
        <button class="form-btn gradientSmall" name="Submit" value="Login" type="Submit">Login</button>
    </form>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="./js/app.js"></script>


<!--<div id="sidebar">-->
<!--    <div class="toggle-btn" onclick="openMenu()">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--    <ul>-->
<!--        <li class="name gradient">HUTTER</li>-->
<!--        <li><a href="./main.html">Main</a></li>-->
<!--        <li><a href="./about.html">About</a></li>-->
<!--        <li><a href="./login.html">Log in</a></li>-->
<!--    </ul>-->
<!--</div>-->


<!--<div id="fill"><form action="" method="post">-->
<!--    &lt;!&ndash; <div class="imgcontainer">-->
<!--      <img src="images/вьетнам.jpg" alt="Avatar" class="avatar">-->
<!--    </div> &ndash;&gt;-->
<!--    <div class="name gradient">-->
<!--        HUTTER-->
<!--    </div>-->

<!--    <div class="container">-->
<!--        <label><b>Username</b></label>-->
<!--        <input type="text" placeholder="Enter Username" name="uname" required><br>-->

<!--        <label><b>Password</b></label>-->
<!--        <input type="password" placeholder="Enter Password" name="psw" required><br>-->

<!--        <button type="submit" class="form-btn gradientSmall">Login</button>-->
<!--        <label>-->
<!--            <input type="checkbox" checked="checked" name="remember"> Remember me-->
<!--        </label>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--        <button type="button"  class="form-btn gradientSmall">Cancel</button>-->
<!--        <span class="psw">Forgot <a href="#">password?</a></span>-->
<!--    </div>-->
<!--</form></div>-->
<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="./js/app.js"></script>-->
</body>
</html>