<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blocks/header.html :: header('Переписки')"></head>

<body class="scroll" th:with="sessionUser=${session.user}">
<div class="container" th:with="address=${address}">
    <h2 th:text="'Переписки по: ' + ${address}"></h2>
    <hr>
    <div class="panel panel-default" th:each="m : ${recentMessages}">
        <a th:href="@{'/conversation/' + ${m.roomId} + '/' + ${m.offerId}}">
            <div class="panel-heading">
                <div class="card">
                    <span class="txt1" th:text="${m.sender.name}"> </span>
                </div>
            </div>
            <div class="panel-body">
                <span th:text="${m.message}"></span>
            </div>
        </a>
        <hr>
    </div>
    <div th:with="emptyList=${emptyList}" th:if="${emptyList}">
        <div class="no-chats-wrapper">
            <span class="txt1">Пока переписок нет</span>
        </div>
    </div>
    <hr>
</div>
<div th:insert="blocks/hat :: hat"></div>
<div th:insert="blocks/menu :: menu"></div>
</body>
</html>