<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blocks/header.html :: header('Переписки')"></head>

<body class="scroll" th:with="sessionUser=${session.user}">
<div class="container">
    <h2 th:text="#{messages.messages}">Переписки</h2>
    <hr>
    <div class="panel panel-default" th:each="m : ${recentMessages}">
        <a th:href="@{'/conversationHost/' + ${m.companionId} + '/' + ${m.offerId}}">
            <div class="panel-heading">
                <div class="card">
                    <span class="txt1 " th:fragment="messageUser(${m.sender})">
                        <span th:text="${m.sender.name}"></span>
                    </span>
                    <span class="txt1"> пишет к </span>
                    <span class="txt1" th:fragment="messageUser(${m.receiver})">
                        <span th:text="${m.receiver.name}"></span>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <span th:text="${m.message}"></span>
            </div>
        </a>
        <hr>
    </div>
    <div th:with="emptyList=${emptyList}" th:if="${emptyList}">
        <div class="no-chats-wrapper">
        <span class="txt1">Пока переписок нет</span>
    </div>
    </div>
    <hr>
</div>
<div th:insert="blocks/hat :: hat"></div>
<div th:insert="blocks/menu :: menu"></div>
</body>
</html>