<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">HUTTER - Offer</title>
    <link rel="shortcut icon" href="/images/home.svg" type="image/svg">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/offer.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
</head>
<body class="scroll">
<div th:utext="${offerDisplay}" class="offer-wrapper content"></div>


<div class="name gradient hat">HUTTER</div>
<div th:insert="blocks/menu :: menu"></div>
</body>
</html>