<!DOCTYPE html>
<html lang="ru">
<head th:replace="/blocks/header.html :: header('Объявление')"></head>
<body class="scroll">
<div th:with="o=${offerDisplay}" class="offer-wrapper flex-h">
    <h2 th:text="${o.address} + ', ' + ${o.totalArea} + ' м²'"></h2>
    <div th:with="host=${host}" th:unless="${host}">
        <form class="offer-delete" th:action="@{'/save/' + ${o.id}}" method="get">
            <button type="submit">
                <div class="btn f-group-btn save-btn">
                    <img class="invert" alt="save" src="/images/save.svg">
                </div>
            </button>
        </form>
    </div>
    <hr>
    <div th:with="offer=${offerDisplay}" th:insert="/blocks/params :: params(offer)"></div>
    <br/>
    <hr>
    <div th:with="host=${host}" th:unless="${host}">
        <a th:href="@{'/conversationHost/' + ${o.hostId} + '/' + ${o.id}}">
            <div class="chat-btn">
                <div class="btn f-group-btn inner-chat-btn">
                    <img class="invert" alt="chat" src="/images/chat.svg">
                </div>
            </div>
        </a>
    </div>

    <div th:with="host=${host}" th:if="${host}">
        <a th:href="@{'/messages/' + ${o.id}}">
            <div class="chat-btn">
                <div class="btn f-group-btn inner-chat-btn">
                    <img class="invert" alt="chat" src="/images/chat.svg">
                </div>
            </div>
        </a>
    </div>
</div>

<div class="offer-images">
        <img alt="Фото объявления" th:with="o=${offerDisplay}"
             th:src="'/images/offer/' + ${o.id % 12} + '.jpg'"/>
</div>
<br/><br/>
<div th:insert="blocks/hat :: hat"></div>
<div th:insert="blocks/menu :: menu"></div>
</body>
</html>