<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HUTTER - Registration page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>-->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>
<body>
<div id="sidebar">
    <div class="toggle-btn" onclick="openMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li class="name gradient">HUTTER</li>
        <li><a href="./registration">Registration</a></li>
        <li><a href="./login">Login</a></li>
    </ul>
</div>

<div id="fill">
    <form align="center" autocomplete="off" action="#" th:action="@{/registration}"
          th:object="${user}" method="post" class="form-horizontal"
          role="form">
        <h2 class="name gradient">HUTTER</h2> <br/>

        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
        <input type="text" th:field="*{name}" placeholder="Name" class="form-control"/> <br/>

        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
        <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"/> <br/>

        <input type="text" th:field="*{email}" placeholder="Email" class="form-control"/> <label
            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
            class="validation-message"></label> <br/>

        <input type="text" th:field="*{userName}" placeholder="User Name"
               class="form-control"/> <label
            th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"
            class="validation-message"></label> <br/>

        <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/> <label
            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
            class="validation-message"></label> <br/> <br/>

        <button type="submit" class="form-btn gradientLarge">Register User</button>

        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
    </form>
</div>

</body>
</html>