<div th:fragment="gallery(offer)">
    <div th:with="o=${offer}" class="sim-slider">
        <ul class="sim-slider-list">
            <li class="sim-slider-element">
                <div class="offer-images">
                    <img alt="Фото объявления" th:src="'/images/offer/' + ${o.id % 12} + '.jpg'"/>
                </div>
            </li>
            <li class="sim-slider-element">
                <div class="offer-images">
                    <img alt="Фото объявления" th:src="'/images/offer/' + ${(o.id + 1) % 12} + '.jpg'"/>
                </div>
            </li>
            <li class="sim-slider-element">
                <div class="offer-images">
                    <img alt="Фото объявления" th:src="'/images/offer/' + ${(o.id + 2) % 12} + '.jpg'"/>
                </div>
            </li>
            <li class="sim-slider-element">
                <div class="offer-images">
                    <img alt="Фото объявления" th:src="'/images/offer/' + ${(o.id + 3) % 12} + '.jpg'"/>
                </div>
            </li>
        </ul>
        <div class="sim-slider-arrow-left"></div>
        <div class="sim-slider-arrow-right"></div>
        <div class="sim-slider-dots"></div>
    </div>
    <br/> <br/>
    <script>new Sim()</script>
</div>