<div th:fragment="menu">
    <div id="sidebar">
        <div class="toggle-btn" onclick="openMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li class="name gradient">HUTTER</li>
            <li><a href="./registration">Registration</a></li>
            <li><a href="./login">Login</a></li>
            <li><a href="./">Offers</a></li>
            <li><a href="./visitor/account">Account</a></li>
        </ul>
    </div>
</div>