<div th:fragment="menu">
    <div id="sidebar">
        <div class="toggle-btn" onclick="openMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li class="name gradient">HUTTER</li>
            <!--            <li><a th:href = "@{/login}">Войти</a></li>-->
            <li><a th:href="@{/}"><img class="menu-icons" src="/images/search.svg" alt="search">
                <br/>Объявления</a></li>
            <li><a th:href="@{/visitor/account}"><img class="menu-icons" src="/images/user.svg" alt="account">
                <br/>Аккаунт</a></li>
        </ul>
    </div>
</div>